<h2> Добрый день Админ </h2>

<!--<%= @results %>

<% @results.each do |row| %>

       Something!!!

<% end %> -->


<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Имя</th>
          <th>Номер телефона</th>
          <th>Время визита</th>
          <th>Парикмахер</th>
        </tr>
      </thead>
      <tbody>

      <% @results.each do |row| %>
        <tr>
          <td><%= row['Id'] %></td>
          <td><%= row['Name'] %></td>
          <td><%= row['NumberPhone'] %></td>
          <td><%= row['DataStamp'] %></td>
          <td><%= row['Hairdresser'] %></td>
        </tr>
      <% end %>
      
      </tbody>
    </table>

    <div class="bs-example">
    <ul class="pagination">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>


